# Node
npm-debug.log

# Mac
.DS_Store
.log
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

# IntelliJ
.idea*

# Local/private configuration files
zshrc/.zshrc.local

# Cursor
.cursor/ide_state.json
cursor/extensions/*
