# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Node
npm-debug.log

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Mac
.DS_Store
.log
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

# IntelliJ
.idea*

# Local/private configuration files
zshrc/.zshrc.local

# Cursor
.cursor/ide_state.json
cursor/extensions/*
